- shfmt and shellcheck have been installed using brew
- Always make sure when running tests that they stream output to the terminal and aren't buffered
- You are really bad at knowing the date. When hardcoding dates use the local system date.\
- Whenever you run tests and a test is slow, make sure to mark it as such.